.button {
  height: 32px;
  min-width: 48px;
  color: #606770;
  flex: 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 0 2px;
  position: relative;
  background: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: rgba(29, 33, 41, 0.04);
}

.liked {
  color: rgb(53, 120, 229);
}